// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swa');

// Variables for light theme
:root {
    --bg-primary: #f3f3f3;
    // --text-primary: #000000;
    --text-primary: #425d81;
    --text-secondary: #e0e0e0;
}

// Variables for dark theme
.dark-mode {
    --bg-primary: #2f2f2f;
    --text-primary: #ffffff;
    --text-secondary: #e0e0e0;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Mukta', 'Varela Round', sans-serif;
    // Transition for dark mode
    transition: all 0.2s;
}

.body-wrapper {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}